{% extends "billing/pdf_base.html" %}
{% load humanize %}

{% block doc_title %}RECEIPT{% endblock %}
{% block doc_number %}{{ receipt.number }}{% endblock %}

{% block doc_meta %}
Date: {{ receipt.date|date:"M d, Y" }}<br>
Invoice: {{ receipt.invoice.number }}
{% endblock %}

{% block doc_badge %}
<span class="status-badge badge-green">Payment Received</span>
{% endblock %}

{% block client_title %}Received From{% endblock %}
{% block client_block %}
<div class="client-name">{{ receipt.invoice.customer.name }}</div>
<div class="client-info">
    {% if receipt.invoice.customer.address %}{{ receipt.invoice.customer.address|linebreaksbr }}<br>{% endif %}
    {% if receipt.invoice.customer.email %}{{ receipt.invoice.customer.email }}{% endif %}
</div>
{% endblock %}

{% block content %}
<table class="items">
    <thead>
        <tr>
            <th style="width: 25%;">Payment Method</th>
            <th style="width: 30%;">Reference</th>
            <th style="width: 25%;">Note</th>
            <th class="num" style="width: 20%;">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ receipt.payment_method|default:"Cash" }}</td>
            <td>{{ receipt.reference|default:"&mdash;" }}</td>
            <td>{{ receipt.note|truncatechars:60|default:"&mdash;" }}</td>
            <td class="text-right" style="font-weight: bold;">{{ company.currency|default:"KES" }} {{ receipt.amount|floatformat:2|intcomma }}</td>
        </tr>
    </tbody>
</table>

<div class="totals">
    <table>
        <tr><td class="lbl">Invoice Total:</td><td class="val">{{ company.currency|default:"KES" }} {{ receipt.invoice.total_amount|floatformat:2|intcomma }}</td></tr>
        <tr><td class="lbl">Total Paid:</td><td class="val paid-val">{{ company.currency|default:"KES" }} {{ receipt.invoice.amount_paid|floatformat:2|intcomma }}</td></tr>
        <tr class="grand">
            <td class="lbl">Balance:</td>
            <td class="val {% if receipt.invoice.balance_due > 0 %}due-val{% else %}paid-val{% endif %}">{{ company.currency|default:"KES" }} {{ receipt.invoice.balance_due|floatformat:2|intcomma }}</td>
        </tr>
    </table>
</div>

{% if receipt.invoice.balance_due <= 0 %}
<div class="notes-box" style="border-color: #a7f3d0; background-color: #ecfdf5;">
    <div class="notes-title" style="color: #059669;">Settled</div>
    This invoice has been paid in full. Thank you!
</div>
{% else %}
<div class="notes-box">
    <div class="notes-title">Outstanding</div>
    Remaining balance of {{ company.currency|default:"KES" }} {{ receipt.invoice.balance_due|floatformat:2|intcomma }} on invoice {{ receipt.invoice.number }}.
</div>
{% endif %}
{% endblock %}

{% block footer_note %}
<br>This is an official receipt for the payment described above.
{% endblock %}
